In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df_dataset = pd.read_csv('Walmart_Store_sales.csv')

In [3]:
df_dataset.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [5]:
df_dataset.shape

(6435, 8)

In [7]:
df_dataset.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [9]:
# which store has maximum sale?

store_by_sale=df_dataset.groupby('Store')['Weekly_Sales']

In [13]:
stores_all=df_dataset['Store'].value_counts()

stores_all
store_sale=df_dataset.groupby('Store')['Weekly_Sales'].sum()
store_sale_max=store_sale.sort_values(ascending=False) # show all store with their sale in highest to lowest
print(f'Maximum Sale is ${store_sale_max.values[0]} from store_{store_sale_max.keys()[0]}')

Maximum Sale is $301397792.46000004 from store_20

In [14]:
# Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation
store_by_sale.std()
x=store_by_sale.std().sort_values(ascending=False).values[0]
y=store_by_sale.std().sort_values(ascending=False).keys()[0] 
print(f'Maximum Standard Deviation is {x} of Store_{y}')

Maximum Standard Deviation is 317569.9494755081 of Store_14

In [15]:
df_dataset['Date']=pd.to_datetime(df_dataset['Date'])
monthlysale=df_dataset.groupby([df_dataset['Date'],df_dataset['Store']])['Weekly_Sales'].agg(sum).reset_index()

monthlysale['Year']=monthlysale['Date'].dt.year
monthlysale['Month'] = monthlysale['Date'].dt.month
monthlysale['Quarter'] = monthlysale['Date'].dt.quarter
monthlysale['Date_wise']=monthlysale['Date'].dt.day
monthlysale

           Date  Store  Weekly_Sales  Year  Month  Quarter  Date_wise
0    2010-01-10      1    1453329.50  2010      1        1         10
1    2010-01-10      2    1827440.43  2010      1        1         10
2    2010-01-10      3     358784.10  2010      1        1         10
3    2010-01-10      4    1842821.02  2010      1        1         10
4    2010-01-10      5     283178.12  2010      1        1         10
...         ...    ...           ...   ...    ...      ...        ...
6430 2012-12-10     41    1409544.97  2012     12        4         10
6431 2012-12-10     42     612379.90  2012     12        4         10
6432 2012-12-10     43     619369.72  2012     12        4         10
6433 2012-12-10     44     337796.13  2012     12        4         10
6434 2012-12-10     45     734464.36  2012     12        4         10

[6435 rows x 7 columns]

In [16]:
monthlysale.head()

        Date  Store  Weekly_Sales  Year  Month  Quarter  Date_wise
0 2010-01-10      1    1453329.50  2010      1        1         10
1 2010-01-10      2    1827440.43  2010      1        1         10
2 2010-01-10      3     358784.10  2010      1        1         10
3 2010-01-10      4    1842821.02  2010      1        1         10
4 2010-01-10      5     283178.12  2010      1        1         10

In [18]:
Q3_Sale_2012=monthlysale[(monthlysale['Quarter'] == 3) & ((monthlysale['Month']<=9) & (monthlysale['Month']>=7)) & (monthlysale['Year']==2012) ]
a=Q3_Sale_2012['Weekly_Sales'].sum()
b=Q3_Sale_2012['Weekly_Sales'].mean()
c=Q3_Sale_2012['Weekly_Sales'].std()
display(f'<b>Total</b> 3rd-Quaterly Sale in 2012 : <b>$ {round(a,2)}</b>')
display(f'<b>Average</b> 3rd-Quaterly Sale in 2012 : <b>$ {round(b,2)}</b>')
display(f'<b>Standrd Deviation</b> 3rd-Quaterly Sale in 2012 : <b>$ {round(c,2)}</b>')

'<b>Total</b> 3rd-Quaterly Sale in 2012 : <b>$ 555995015.96</b>'

'<b>Average</b> 3rd-Quaterly Sale in 2012 : <b>$ 1029620.4</b>'

'<b>Standrd Deviation</b> 3rd-Quaterly Sale in 2012 : <b>$ 528493.97</b>'

Which store's has good quarterly growth rate in Q3’2012?
Store_4 , because it have maximum sale in quarter3 2012 which is $ 25652119.35

In [19]:
a=df_dataset[df_dataset['Date']== '12-02-2010']['Weekly_Sales'].sum()
b=df_dataset[df_dataset['Date']== '11-02-2011']['Weekly_Sales'].sum()
c=df_dataset[df_dataset['Date']== '10-02-2012']['Weekly_Sales'].sum()
d=df_dataset[df_dataset['Date']== '08-02-2013']['Weekly_Sales'].sum() 
super_bowl_sale = a+b+c+d

a1=df_dataset[df_dataset['Date']== '10-09-2010']['Weekly_Sales'].sum()
b1=df_dataset[df_dataset['Date']== '09-09-2011']['Weekly_Sales'].sum()
c1=df_dataset[df_dataset['Date']== '07-09-2012']['Weekly_Sales'].sum()
d1=df_dataset[df_dataset['Date']== '06-09-2013']['Weekly_Sales'].sum() 
labour_day_sale = a1+b1+c1+d1

a2=df_dataset[df_dataset['Date']== '26-11-2010']['Weekly_Sales'].sum()
b2=df_dataset[df_dataset['Date']== '25-11-2011']['Weekly_Sales'].sum()
c2=df_dataset[df_dataset['Date']== '23-11-2012']['Weekly_Sales'].sum()
d2=df_dataset[df_dataset['Date']== '29-11-2013']['Weekly_Sales'].sum() 
thanks_giving_sale = a2+b2+c2+d2

a3=df_dataset[df_dataset['Date']== '31-12-2010']['Weekly_Sales'].sum()
b3=df_dataset[df_dataset['Date']== '30-12-2011']['Weekly_Sales'].sum()
c3=df_dataset[df_dataset['Date']== '28-12-2012']['Weekly_Sales'].sum()
d3=df_dataset[df_dataset['Date']== '27-12-2013']['Weekly_Sales'].sum() 
christmas = a3+b3+c3+d3

print('super_bowl_sale : ',super_bowl_sale)
print('labour_day_sale : ',labour_day_sale)
print('thanks_giving_sale : ',thanks_giving_sale)
print('christmas : ',christmas)

super_bowl_sale :  145682278.34000003
labour_day_sale :  140727684.68
thanks_giving_sale :  132414608.5
christmas :  86474980.04

In [20]:
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

In [21]:
from sklearn.preprocessing import StandardScaler # for normilization data https://i.stack.imgur.com/obywE.png

scaler = StandardScaler()
scale_temp = scaler.fit_transform(df_dataset[['Temperature']]) 
df_dataset['Temperature'] = scale_temp
scale_fuel = scaler.fit_transform(df_dataset[['Fuel_Price']]) 
df_dataset['Fuel_Price'] = scale_fuel
scale_unemployment = scaler.fit_transform(df_dataset[['Unemployment']]) 
df_dataset['Unemployment'] = scale_unemployment

In [30]:
x=df_dataset.drop(columns=['Weekly_Sales','Date'],axis=1)
y=df_dataset['Weekly_Sales']

In [36]:
from  sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,train_size=0.75,random_state=0)

In [37]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4826, 6)
(1609, 6)
(4826,)
(1609,)

In [39]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
y_predict=model.predict(x_test)
from sklearn.metrics import r2_score,mean_squared_error
r2=r2_score(y_test,y_predict)
MSE=mean_squared_error(y_test,y_predict)
display(f'<h2>Accurecy is : {round(r2*100,2)} %</h2>')# It's R square value
print('Mean Square Error :',MSE)

'<h2>Accurecy is : 16.0 %</h2>'

Mean Square Error : 269769090812.5074